		<div id="reset-pswd">
			<h3>Reset Password</h3>
			<div class="row">
				<label for="email" class="col-xs-6">Email Address</label>
				<input type="text" class="col-xs-6" ng-model="reset_pswd.email">
			</div>
			<div class="row">
				<label for="password" class="col-xs-6">Old Password</label>
				<input type="password" class="col-xs-6" ng-model="reset_pswd.password">
			</div>
			<div class="row">
				<label for="password" class="col-xs-6">New Password</label>
				<input type="password" class="col-xs-6" ng-model="reset_pswd.new_password">
			</div>
			<div class="row">
				<label class="col-xs-6"></label>
				<button type="button" class="btn btn-primary" ng-click="resetPswd(reset_pswd)" >Reset</button>
			</div>
		</div>
